<section class="questions-section">
  <div class="auto-container">
    <!-- Sec Title -->
    <div class="sec-title centered">
      <div class="title">La Smash League Series</div>
      <h2>Comment ca se passe ?</h2>
    </div>

    <!-- Inner Container -->
    <div class="inner-container">
      <div class="row clearfix">

        <!-- Question Block -->
        <div class="question-block col-lg-6 col-md-12 col-sm-12">
          <div class="inner-box">
            <div class="icon-box">
              <span class="icon flaticon-question"></span>
            </div>
            <h3><a href="#">How to download the game?</a></h3>
            <div class="text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</div>
          </div>
        </div>

        <!-- Question Block -->
        <div class="question-block col-lg-6 col-md-12 col-sm-12">
          <div class="inner-box">
            <div class="icon-box">
              <span class="icon flaticon-question"></span>
            </div>
            <h3><a href="#">Is there any age restrictions?</a></h3>
            <div class="text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</div>
          </div>
        </div>

        <!-- Question Block -->
        <div class="question-block col-lg-6 col-md-12 col-sm-12">
          <div class="inner-box">
            <div class="icon-box">
              <span class="icon flaticon-question"></span>
            </div>
            <h3><a href="#">how to become a team member?</a></h3>
            <div class="text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</div>
          </div>
        </div>

        <!-- Question Block -->
        <div class="question-block col-lg-6 col-md-12 col-sm-12">
          <div class="inner-box">
            <div class="icon-box">
              <span class="icon flaticon-question"></span>
            </div>
            <h3><a href="#">Is there any reward for winners?</a></h3>
            <div class="text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>
