<section class="questions-section">
  <div class="auto-container">
    <!-- Sec Title -->
    <div class="sec-title centered">
      <div class="title">La Smash League Series</div>
      <h2>C'est quoi ?</h2>
    </div>

    <!-- Inner Container -->
    <div class="inner-container">
      <div class="row clearfix">

        <!-- Question Block -->
        <div class="question-block col-lg-6 col-md-12 col-sm-12">
          <div class="inner-box">
            <div class="icon-box">
              <span class="icon flaticon-question"></span>
            </div>
            <h3><a href="#">Presentation</a></h3>
            <div class="text">La Smash League Series, autrement appelée SLS, est un championnat League of Legends en ligne, de 6 équipes provenant de la communauté française de Super Smash Bros. Les 42 joueurs répartis dans leurs équipes respectives se battront pour le titre de champion de la première édition de la SLS et d’équipe LoL la plus forte de la communauté. </div>
          </div>
        </div>

        <!-- Question Block -->
        <div class="question-block col-lg-6 col-md-12 col-sm-12">
          <div class="inner-box">
            <div class="icon-box">
              <span class="icon flaticon-question"></span>
            </div>
            <h3><a href="#">Comment ca se passe ?</a></h3>
            <div class="text"> Chaque équipe se rencontrera une fois lors d’un BO3 et chaque victoire permettra de monter dans le classement. A la fin de la saison, les 2 équipes avec le plus de victoire s’affronteront dans une Grande Finale pour déterminer le champion de la première édition. 
</div>
          </div>
        </div>

        <!-- Question Block -->
        <div class="question-block col-lg-6 col-md-12 col-sm-12">
          <div class="inner-box">
            <div class="icon-box">
              <span class="icon flaticon-question"></span>
            </div>
            <h3><a href="#">Ou est-ce que ca se deroule ?</a></h3>
            <div class="text">Les phases de poules se font sur internet, la final se fera lors de l'utimate wanted (Sous réserve de respecter les delais)</div>
          </div>
        </div>

        <!-- Question Block -->
        <div class="question-block col-lg-6 col-md-12 col-sm-12">
          <div class="inner-box">
            <div class="icon-box">
              <span class="icon flaticon-question"></span>
            </div>
            <h3><a href="#">Quelles sont les regles ?</a></h3>
            <div class="text"> Les regles completes sont disponible <%= link_to 'ICI', rules_path %></div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>
