<%= render partial: "layouts/sub_header", locals: {image_name: 'top-bg-vod.jpg', text: 'Réglement'} %>
<div class='row'>
  <div class='col-lg-12'>
    <div style='color: white;'>
      <h1 id="réglement">Règlement</h1>
      <h2 id="format">Format</h2>
      <p style='color: white;'>Les poules se font en Best Of 3<br>
      La grande finale en Best Of 5<br>
      Les parties se jouent en mode « Tournament Draft »</p>
      <h2 id="déroulement-dun-match">Déroulement d’un match</h2>
      <ul>
        <li>
          <p style='color: white;'>Pour savoir qui décide de sont side pour commencer le match un Pierre Feuille Ciseaux entre les capitaines d’équipe doit être effectué. <a href="https://www.rpsgame.org/">Ce site peux vous y aider</a></p>
        </li>
        <li>
          <p style='color: white;'>Une fois que le coté de début est choisi. Les equipes change de coté entre chaque match. Exemple : Team A gagne le PFC et choisie commence coté bleu pour la premiere game. Elle commencera coté rouge pour la deuxième game et si il y a une troisième game elle commencera de nouveau coté bleu</p>
        </li>
        <li>
          <p style='color: white;'>Les pauses ne sont autorisées qu’en cas de problème majeur au déroulement des parties et doivent donc être justifiées.</p>
        </li>
        <li><p style='color: white;'>Tout manquement a ce réglement pourra etre sanctionné un forfait du set ou de la partie par un admin.</p></li>
      </ul>
      <h2 id="participants">Participants</h2>
      <ul>
        <li><p style='color: white;'>Seuls les sept joueurs enregistrés dans les équipes ont le droit de participer aux parties.</p></li>
        <li><p style='color: white;'>Les membres des équipes doivent faire partie de la communauté à laquelle l’équipe est attachée, les joueurs tiers venant déséquilibrer la compétition sont interdits.</p></li>
        <li><p style='color: white;'>Si un match est planifié et qu’une équipe n’arrive pas à aligner 5 joueurs, celle-ci se verra perdante du set avec le score de 0-2.</p></li>
      </ul>
      <h2 id="accession-a-la-grande-finale">Acces a la grande finale</h2>
      <ul>
        <li><p style='color: white;'>Les deux équipes avec le plus grand nombre de victoire accéderont a la final. En cas d’égalité l’équipe ayant concédé le moins de set sera sélectionne, et si il y a encore égalité. Un match en Best Of 3 sera effectué pour les départager</p></li>
      </ul>
    </div>
  </div>
</div>
