<div class="mobile-menu">
  <div class="menu-backdrop"></div>
  <div class="close-btn"><span class="icon flaticon-close"></span></div>

  <nav class="menu-box">
  <!-- <div class="nav-logo"><a href="index.html"><%= image_tag 'log.png' %></a></div> --!>
    <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
    <!--Social Links-->
    <div class="social-links">
      <ul class="clearfix">
      </ul>
    </div>
  </nav>
</div><!-- End Mobile Menu -->
