<section class="page-banner" style="background-image:url(<%= asset_url(image_name)%>); background-position: center center;">
  <div class="auto-container">
    <div class="inner-container clearfix">
      <h1><%= text %></h1>
    </div>
  </div>
</section>
